#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.leaflet-tooltip.cacheLabel {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  color: #000;
  font-weight: 700;
  font-size: 0.9rem;
  pointer-events: none; /* avoid interfering with clicks*/
  white-space: nowrap;
  text-align: center;
}
